{% extends 'contenido.html' %}
{% block title %}Menu Admin{% endblock  %}
{% block content %}
<!--nav-->
  <div class="head" style="">
    <div class="logo" style="margin-left: 30px;">
        <h1>Moniweb</h1>
    </div>
    <nav class="navbar">
        <a href="{% url 'usuarios' %}">Administrar usuarios</a>
        <a href="{% url 'convocatorias' %}"> Administrar convocatorias</a>
        <a href="{% url 'diseñadores' %}">diseñadores</a>
        {% if user.is_authenticated %}
        <a href="#" >hola</a>
        {% else %}

        {% endif %}
        
    </nav>
  </div>
<!--BUSCADOR-->
<div class="card">
          
  <div class="card-body">
    <div class="container">
      <h2>Bucar Convocatorias</h2>
        <form method="get">
            <div id="custom-search-input">
              <div class="row">
                <div class="col"><br>
                    <input type="text" class="form-control" placeholder="Buscar" name="buscar" value="{{ request.GET.buscar }}">
                </div>
                <div class="col">
                  <span class="input-group-list">
                    <i class="icon icon-button"></i>
                    <button type="button" class="btn btn-outline-success" >Buscar</button>
                  </span>
                </div>
            </div>
          </div>
        </form>
         </div> </div
      
<!--CARD CONVOCATORIAS-->
    <div class="row my-3">
      {% for convocatorias in convocatorias %}
      <div class="col-3 card" style="width: 35rem; padding: 10px; margin: 0 auto;">
        
        <img src="{{ convocatorias.imagen.url }}" width="" height="250"/>
        <div class="card-body">
          <h5 class="card-title">{{ convocatorias.Titulo }}</h5>
          <a href="{% url 'postulados' %}">postulados</a>
        </div>
        
      </div>
    {% endfor %}
  </div>

 
  {% endblock  %}